.fondo {
    background-image: url(../img/torrefondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.rounded-circle {
    width: 25%;
    padding-top: 10%;
}